* {
    margin: 0;
    padding: 0;
}
#header-container {
    width: 1920px;
    height: 850px;
    background:rgba(229, 84, 115, 0.10) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-container>h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    width: 700px;
    height: 280px;
    padding-left: 200px;
    font-size: 80px;
    color: #272727;
}
.first-container,p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    width: 630px;
    height: 90px;
    padding: 32px 0px 32px 200px;
    color: #676565;
 }
    
.btn-one {
    display: flex;
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    color: #fff;
    font-weight: 700;
    margin-right: 270px;
    
}
.btn-one:hover {
    background-color: rgb(2, 57, 54);
}
.header-img {
    width: 600px;
    height: 800px;
    padding: 50px 240px 0px 0px;
}

#main-container {
    display: flex;
    width: 1920px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-item>h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    padding-left: 300px;
    color: #272727;
    width:530px ;
    height: 48px;
    font-size: 40px;
}
.main-item,p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    width: 590px;
    height: 60px;
    padding: 24px 0px 24px 300px;
    color: #676565;
}

.btn-two {
    display: flex;
    padding: 15px 35px;
    border-radius: 8px;
    background: #E55473;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-left: 300px;
}
.btn-two:hover {
    background-color: rgb(2, 57, 54);
}
.main-img-one {
    width: 300px;
    height: 400px;
    padding: 50px 400px 0px 0px;
}
.middle-section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
   
}
.middle-section>h2 {
    width: 180px;
    height: 45px;
    font-size: 40px;
    color: #272727;
    padding: 50px 0px 5px 0px ;
    margin-left: 550px;
}
.middle-section,p {
    display: flex;
    width: 594px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-left: 365px;
}